
.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  flex: 1;
  height: 100%;
}

.spacer {
  flex: 1;
}

.mat-drawer-content {
  padding: 0 16px;
}
