<div class="menu-container">

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">The New Asos</h1>
    <div class="spacer"></div>

    <a *ngIf="loggedIn | async" mat-icon-button [routerLink]="['cart']">
      <mat-icon>shopping_cart</mat-icon>
    </a>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav class="sidenav" #drawer [mode]="'over'">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/']">Homepage</a>
        <a mat-list-item [routerLink]="['login']">Login</a>
        <a mat-list-item [routerLink]="['register']">Register</a>
        <mat-list-item (click)="logout()">
          Logout
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>