<div class="row">
	<div *ngFor="let product of products" class="col-xs-12 col-sm-6 col-md-4">
		<mat-card class="card px-4 my-3 w-100">
			<img
				mat-card-image
				[src]="product.imageUrl"
				[alt]="product.description"
			/>
			<mat-card-content>
				<p class="product-description">
					{{ product.description }}
				</p>
			</mat-card-content>
			<mat-card-actions [align]="end">
				<button
					*ngIf="showDepartment"
					mat-button
					[routerLink]="['/department/', product.department]"
				>
					MORE {{ product.department }}
				</button>
				<button mat-button [routerLink]="['/product/', product?._id]">
					BUY
				</button>
			</mat-card-actions>
		</mat-card>
	</div>
</div>
