

.wrapper {
    min-width: 100%;
    min-height: 200px;
    overflow-x: auto;
    display: flex;
}

.mat-button {
    text-transform: uppercase;
}

.mat-card {
    min-width: 200px;
    margin: 10px;
}

