
<h1>{{ product?.name }}</h1>

<mat-grid-list cols="2" rowHeight="100px">
  
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="5">
      <img [src]="product?.imageUrl" alt="">
  </mat-grid-tile>

  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">
      <h2>{{ product?.description }}</h2>
  </mat-grid-tile>

  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">
      <h2>{{ product?.price }}</h2>
  </mat-grid-tile>

  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">
      <button mat-button (click)="addToCart(1)">ADD TO CART</button>
  </mat-grid-tile>

  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">
      <button mat-button (click)="likeItem()">LIKE</button>
      <button mat-button (click)="shareItem()">SHARE</button>
  </mat-grid-tile>

</mat-grid-list>