<h1>
  My Cart
</h1>

<div *ngIf="cart$ | async as cart" class="cart-view">

  <mat-list>

    <mat-card *ngFor="let product of cart.products">

      <mat-card-content class="product-row">
                
        <img [src]="product.item.imageUrl" alt="product.item.name" class="product-image">
        
        <div>
          <mat-card-title>{{product.item.name}}</mat-card-title>
          <div>{{product.item.description}}</div>
        </div>
        
        <div class="product-actions">
          <button (click)="removePdtFromCart(product.item)" class="quantity-button">-</button>
          <mat-chip-list [selectable]="false">
            <mat-chip>{{ product.quantity }}</mat-chip>
          </mat-chip-list>
          <button (click)="addPdtToCart(product.item)" class="quantity-button">+</button>
        </div>
        
        <div>{{product.item.price | currency: 'USD':true}}</div>
        
        <div>x</div>

      </mat-card-content>
    </mat-card>

  </mat-list>

  <mat-card class="summary-card">
    <mat-card-content>
      
      <h1>Summary</h1>

      <p>
        Price: {{ cart.totalPrice }}
      </p>
      
      <p>
        {{ cart.itemCount }} items
      </p>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary">Checkout</button>
    </mat-card-actions>

  </mat-card>
</div>