
<h1>
  My Cart
</h1>

<div *ngIf="cart$| async as cart" class="cart-view">
  
  <mat-list>

    <mat-card *ngFor="let product of cart.products">
      <!-- <mat-card-header> -->
      <!-- <div mat-card-avatar></div> -->
      <mat-card-title>{{product.item.name}}</mat-card-title>
      <mat-card-subtitle>{{product.item.price | currency: 'USD':"true"}}</mat-card-subtitle>
      <!-- </mat-card-header> -->
      <img mat-card-image [src]="product.item.imageUrl" alt="product.item.name" style="height: 120px; width: auto;">
      <mat-card-content>

        <p>
          {{product.item.description}}
        </p>
        <p>
          {{ product.quantity }}
        </p>
        <!-- <p> -->
        <!-- {{ product | json }} -->
        <!-- </p> -->
      </mat-card-content>
      <mat-card-actions>
        <button (click)="addPdtToCart(product.item)" mat-mini-fab color="primary">+</button>
        <button (click)="removePdtFromCart(product.item)" mat-mini-fab color="basic">-</button>
      </mat-card-actions>
    </mat-card>

  </mat-list>

  <mat-card class="summary-card">
      <mat-card-header>
        <mat-card-title>summary</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          totalPrice: {{ cart.totalPrice }}
        </p>
      </mat-card-content>
    </mat-card>


</div>